<h2 class="sub-header">Manage Buses</h2>
<div class="row">
    <div ng-if="vm.busTypes.length === 0" style="text-align: center; padding-top: 4em;">
        <h3>You have to add at-least 1 bus type in order to be able to add a bus to the list, add a bus type over <a style="text-decoration: underline" ui-sref="admin-dashboard.add-bus-type">here</a>.</h3>
    </div>
    <div class="col-md-2"></div>
    <div ng-if="vm.busTypes.length > 0" class="col-md-8">
        <h4>Add a new bus</h4>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash)"
        ></flash-message>
        <input type="number" class="form-control" ng-model="bus.numberOfSeats" placeholder="Number of seats">
        <br>
        <input type="text" class="form-control" ng-model="bus.busRegistration" placeholder="Bus Registration">
        <br>
        <select ng-model="bus.busType" class="form-control">
            <option value="" selected disabled>Select the bus type</option>
            <option ng-repeat="busType in vm.busTypes" value="{{ busType.type }}">{{ busType.type }} - {{ busType.description }}</option>
        </select>
        <br>
        <button ng-click="vm.addBus(bus)" class="btn btn-primary btn-lg">Proceed</button>
    </div>
    <div class="col-md-2"></div>
</div>