<div class="site-wrapper"
     style="background-image: url('images/Road-Bus.jpg'); background-size: cover ">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Awesome Tours</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a ui-sref="home">Home</a></li>
                            <li><a ui-sref="login">Log In</a></li>
                            <li><a ui-sref="signup">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading fx-bounce-down">Awesome Tours.</h1>
                <p class="lead">Interested in going on a tour to the zoo or anywhere with new people?</p>
                <p class="lead">No problem, login or create an awesome-tours account in a few seconds and book your place </p>
                <p class="lead">
                    <a ui-sref="login" class="btn btn-lg btn-default">Login</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Awesome Tours by <a href="http://awesome-fortune.co.za">Fortune Maseko</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>